rupture.scale = 0 325px 575.5px 767.5px 991.5px 1199.5px 1500px 1920px
rupture.scale-names = '0' 'xs' 's' 'm' 'l' 'xl' 'xxl' 'hd'
boot-sm = 540px
boot-md = 768px
boot-lg = 992px
boot-xl = 1200px

primaryColor = #24a7df
secondaryColor = #70bbe6
thirdColor = #8acdee
fourthColor = #424243

greyDark = #333
greyLight = #fefefe
greyText = #363636

primaryFont = 'Open Sans', sans-serif
secondaryFont = 'Open Sans', sans-serif

.overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 2

.selected-state
  fill secondaryColor !important

.grey-o
  background-color rgba(40,40,40,0.85)

.blue-o
  background-color rgba(112,186,231,0.85)
